extends layout

block content
    h1 Chỉnh sửa Sinh Viên
    form(action="/sinhvien/edit"+id method="post")
        div(style="margin: 10px")
            label(for="fullName") Full Name:
            input(type="text" id="fullName" name="fullName" value=fullName required)
        div(style="margin: 10px")
            label(for="birthday") Birthday:
            input(type="date" id="birthday" name="birthday" value=birthday required)
        div(style="margin: 10px")
            label Gender:
            input(type="radio" id="male" name="isMale" value="true" checked=isMale required)
            label(for="male") Nam
            input(type="radio" id="female" name="isMale" value="false" checked=!isMale required)
            label(for="female") Nữ
        div(style="margin: 10px")
            label Group:
            input(type="radio" id="group1" name="group" value="1" checked=(group === "1") required)
            label(for="group1") 1
            input(type="radio" id="group2" name="group" value="2" checked=(group === "2") required)
            label(for="group2") 2
        div(style="margin: 10px")
            button(type="submit") Submit