extends layout


block content
  style.
    li {
      margin-bottom: 10px;
    }
  h1= title
  p Chào mừng đến với #{title}

  h1 Mục lục
  ul
    li
      a(href='/sinhvien') Quản lý sinh viên
    li
      a(href='/attendance') Quản lý điểm danh
    li
      a(href='/class') Quản lý lớp học
    li
      a(href='/session') Quản lý buổi học
    li 
      a(href='/skill') Quản lý kỹ năng
    li
      a(href='/score') Quản lý điểm số

  h1 Thống kê
  ul 
    li
      a(href='/attendance/statistic') Thống kê điểm danh
    li 
      a(href='/score/history') Lịch sử điểm số

