extends layout

block content
  h1= title
  p Chào mừng đến với #{title}

  h1 Mục lục
  ul
    li
      a(href='/sinhvien') Quản lý sinh viên
    li
      a(href='/attendance') Quản lý điểm danh
    li
      a(href='/class') Quản lý lớp học
