extends layout

block content

    h1 Tạo lớp mới

    form(action="." method="post")
        div(style="margin: 10px")
            label(for="name") Name:
            input(type="text" id="name" name="name" required)
        div(style="margin: 10px")
            label(for="day") Day:
            select(id="day" name="day" required)
                option(value="Monday") Monday
                option(value="Tuesday") Tuesday
                option(value="Wednesday") Wednesday
                option(value="Thursday") Thursday
                option(value="Friday") Friday
                option(value="Saturday") Saturday
                option(value="Sunday") Sunday
        div(style="margin: 10px")
            label(for="startTime") Start Time:
            input(type="time" id="startTime" name="startTime" required)
        div(style="margin: 10px")
            label(for="endTime") End Time:
            input(type="time" id="endTime" name="endTime" required)
        div(style="margin: 10px")
            button(type="submit") Create Class