extends read 

block tableHeader 

    h1 QR Check in 

    script(src="/javascripts/html5-qrcode.min.js") 
    div(id="reader" style="width:500px;height:500px;border:1px solid #000;")   
    script(src="/javascripts/qr-scanner-handler copy.js") 
    h1 Điểm danh